/* You can add global styles to this file, and also import other style files */
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.navbar-white-text {
  color: #ffffff !important;
}

.navbar-white-text:hover {
  color: #a4c9e8 !important;
}

.navbar-white-text .active {
 font-weight: bold !important;
}

.dist-cursor-pointer {
  cursor: pointer;
}

.dist-blue-text {
  color: #0275D8;
}
