  <!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar-white-text navbar navbar-toggleable-md navbar-light bg-primary">
  <div class="container">
  <button (click)="isNavbarCollapsed = !isNavbarCollapsed" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-white-text navbar-brand" href="#">Passta</a>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="navbar-white-text nav-item nav-link active" routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      <a class="navbar-white-text nav-item nav-link" *ngIf="appstate?.isAuthentificated" [routerLink]="['profile', appstate?.userId]" routerLinkActive="active">Profile</a>
      <a class="navbar-white-text nav-item nav-link" *ngIf="appstate?.isAuthentificated" [routerLink]="['settings', appstate?.userId]" routerLinkActive="active">Settings</a>
      <a class="navbar-white-text nav-item nav-link" routerLink="/help" routerLinkActive="active">Help</a>
      <a class="dist-cursor-pointer navbar-white-text nav-item nav-link" *ngIf="appstate?.isAuthentificated" (click)="signOut()" routerLinkActive="active">Sign-out</a>
      <a class="navbar-white-text nav-item nav-link" *ngIf="!(appstate?.isAuthentificated)" routerLink="/sign-in" routerLinkActive="active">Sign-in</a>
      <a class="navbar-white-text nav-item nav-link" *ngIf="!(appstate?.isAuthentificated)" routerLink="/register" routerLinkActive="active">Register</a>
    </div>
  </div>
</div>
</nav>

<router-outlet></router-outlet>
<br>
