<br>
<div class="container">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Help</h4>
      <p class="card-text"></p>
    </div>
  </div>

  <br>
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Page roles</h4>
      <h5>What to do first?</h5><p class="card-text">If you have not yet registered, please do so by clicking the register button, otherwise, sign-in.</p>
      <h5>Settings Page</h5>
      <p class="card-text">
        This page is here so you can update your information, such as your name, birth-date, email, password...
      </p>
      <h5>Profile Page</h5>
      <p class="card-text">From your profile page, you may generate passwords for the service you use, remove the services, or add extra services for which you wish to generate passwords. The password won't be saved.</p>
    </div>
  </div>

</div>
