<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Passta</h1>
    <p class="lead">Save your passwords in a few clicks</p>
  </div>
</div>
<div class="container">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Application Details</h4>
      <p class="card-text">This application was built following the concepts of REST, SOAP and using Angular 2 for the front-end.</p>
    </div>
  </div>
</div>
