<br>
<div class="container">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Sign-in</h4>
      <form>
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" [(ngModel)]="model.email" class="form-control" name="email" id="email">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" pattern=".{8,}" [(ngModel)]="model.password" class="form-control" name="pwd" id="pwd">
        </div>
        <button (click)="submit()" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>
