<br>
<div class="container">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Enter your PIN</h4>
      <p class="card-text">Please enter your pin to continue.</p>
      <p><b>Pin Entered:</b> {{ userPin }}</p>

      <div class="btn-group" role="group">
        <button (click)="onClickBtn('1')" type="button" class="btn btn-secondary" style="min-width:85px;">1</button>
        <button (click)="onClickBtn('2')" type="button" class="btn btn-secondary" style="min-width:85px;">2</button>
        <button (click)="onClickBtn('3')" type="button" class="btn btn-secondary" style="min-width:85px;">3</button>
      </div><br>
      <div class="btn-group" role="group">
        <button (click)="onClickBtn('4')" type="button" class="btn btn-secondary" style="min-width:85px;">4</button>
        <button (click)="onClickBtn('5')" type="button" class="btn btn-secondary" style="min-width:85px;">5</button>
        <button (click)="onClickBtn('6')" type="button" class="btn btn-secondary" style="min-width:85px;">6</button>
      </div><br>
      <div class="btn-group" role="group">
        <button (click)="onClickBtn('7')" type="button" class="btn btn-secondary" style="min-width:85px;">7</button>
        <button (click)="onClickBtn('8')" type="button" class="btn btn-secondary" style="min-width:85px;">8</button>
        <button (click)="onClickBtn('9')" type="button" class="btn btn-secondary" style="min-width:85px;">9</button>
      </div><br>
      <div class="btn-group" role="group">
        <button (click)="onClickBtn('C')" type="button" class="btn btn-danger" style="min-width:85px;">Clear</button>
        <button (click)="onClickBtn('0')" type="button" class="btn btn-secondary" style="min-width:85px;">0</button>
        <button (click)="onClickBtn('S')" type="button" class="btn btn-success" style="min-width:85px;">Submit</button>
      </div>
    </div>
  </div>
</div>
