<br>
<div class="container">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">404 Not Found</h4>
      <p class="card-text">The page you were looking for doesn't exist.</p>
    </div>
  </div>
</div>
