<br>
<div class="container">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Welcome back {{ user?.firstName + " " + user?.lastName }}</h4>
    </div>
  </div><br>
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Your Passwords</h4>
      <br>
      <p *ngIf="!procedures">First, generate passwords for a service you wish to generate a password for (i.e. Facebook).</p>
      <table *ngIf="procedures" class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Generate Password</th>
            <th scope="col">Remove Service</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let procedure of procedures">
            <td><button type="button" (click)="generatePassword(procedure?.id)" class="dist-cursor-pointer btn btn-primary btn-sm">Generate password for {{ procedure?.serviceName }}</button></td>
            <td><button type="button" (click)="deletePassword(procedure?.id)" class="dist-cursor-pointer btn btn-outline-danger btn-sm">Remove {{ procedure?.serviceName }}'s Password</button></td>
          </tr>
        </tbody>
    </table>
    <nav *ngIf="procedures" aria-label="Page navigation example">
      <ul class="pagination pagination-sm justify-content-center">
        <li [class.disabled]="pageNumber === 1" class="dist-blue-text dist-cursor-pointer page-item">
          <a (click)="decreasePageNumber()" class="page-link">&lt;</a>
        </li>
        <li [class.disabled]="!canIncrease" class="dist-blue-text dist-cursor-pointer page-item">
          <a (click)="increasePageNumber()" class="page-link">&gt;</a>
        </li>
      </ul>
    </nav>

    <table *ngIf="pwdSpecifications.length != 0" class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Service Name</th>
          <th scope="col">Password</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pwdSpecification of pwdSpecifications">
          <td>{{ pwdSpecification?.serviceName }}</td>
          <td>{{ pwdSpecification?.password }}</td>
        </tr>
      </tbody>
    </table>

    <br>
    <form class="form-inline">
      <div class="form-group">
        <label for="service" class="sr-only">Service</label>
        <input type="text" [(ngModel)]="model.service" class="form-control" id="service" placeholder="Example: facebook" name="service">
      </div>
      &nbsp;<button type="submit" (click)="addLine()" class="btn btn-primary">Add</button>
    </form>

    </div>
  </div>
</div>
