<br>
<div class="container">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Settings</h4>
      <form (ngSubmit)="submitSettings()" #settingsForm="ngForm">
        <div class="form-group">
          <label for="email">First Name:</label>
          <input type="text" class="form-control" [(ngModel)]="model.firstName" name="firstname" required>
        </div>
        <div class="form-group">
          <label for="email">Last Name:</label>
          <input type="text" class="form-control" [(ngModel)]="model.lastName" name="lastname" required>
        </div>
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" [(ngModel)]="model.email" name="email" required>
        </div>
        <div class="form-group">
          <label for="birthdate">Birth Date (YYYY-MM-DD i.e. 2017-05-14):</label>
          <input id="birthdate" class="form-control" type="text" name="birthdate" [(ngModel)]="birthdate" placeholder="YYYY-MM-DD" required
          pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
          title="Enter a date in this format YYYY-MM-DD"/>
        </div>
        <div class="form-group">
          <label for="gender">Gender:</label>
          <select class="form-control" [(ngModel)]="model.gender" name="gender" required>
            <option *ngFor="let gender of genders" [value]="gender">{{ gender }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input id="pwd" #pwd="ngModel" type="password" class="form-control" pattern=".{8,}" [(ngModel)]="model.password" name="oldPwd" required>
          <div [hidden]="pwd.valid || pwd.pristine" class="alert alert-danger">Password must be 8 characters long</div>
        </div>
        <button type="submit" [disabled]="!settingsForm.form.valid" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
  <br>
